:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .init-main-container {
    overflow: hidden;
  }
  
  .init-main-container,
  .init-main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .init-main-container {
    position: relative;
    width: 1280px;
    height: 800px;
    margin: 0 auto;
    font-size: 0px;
    background: #cee3f8;
    overflow: hidden;
  }
  .init-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 627px;
    height: 174px;
    margin: 81px 0 0 327px;
    color: #192931;
    font-family: Roboto, var(--default-font-family);
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    z-index: 10;
  }
  .init-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 572px;
    height: 141px;
    margin: 75px 0 0 354px;
    z-index: 8;
  }
  .init-group {
    flex-shrink: 0;
    position: relative;
    width: 157px;
    height: 141px;
    background: #007cff;
    z-index: 2;
    border-radius: 10px;
  }
  .init-text-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 94px;
    height: 55px;
    top: 43px;
    left: 31px;
    color: #f0f0f0;
    font-family: Roboto, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 31.init-2px;
    text-align: center;
    z-index: 3;
  }
  .init-box {
    flex-shrink: 0;
    position: relative;
    width: 153px;
    height: 141px;
    background: #007cff;
    z-index: 5;
    border-radius: 10px;
  }
  .init-text-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 138px;
    height: 63px;
    top: 38px;
    left: 5px;
    color: #f5f5f5;
    font-family: Roboto, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 31.init-2px;
    text-align: center;
    z-index: 6;
  }
  .init-box-2 {
    flex-shrink: 0;
    position: relative;
    width: 152px;
    height: 141px;
    background: #007cff;
    z-index: 8;
    border-radius: 10px;
  }
  .init-text-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 147px;
    height: 55px;
    top: 43px;
    left: 1px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 31.init-2px;
    text-align: center;
    z-index: 9;
  }
  
  .init-btn{
    background-color: transparent;
    border: 0px;
  }

  .init-btn:hover{
    cursor: pointer;
  }