:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .logal-main-container {
    overflow: hidden;
  }
  
  .logal-main-container,
  .logal-main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .logal-main-container {
    position: relative;
    width: 1280px;
    height: 800px;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid #000000;
    overflow: hidden;
  }
  .logal-group {
    position: relative;
    width: 420px;
    height: 400px;
    margin: -64px 0 0 405px;
    z-index: 6;
  }
  .logal-pic {
    position: absolute;
    width: 407px;
    height: 400px;
    top: 0;
    left: 13px;
    background: url(../assets/Login.jpg)
      ;
    background-size: cover;
    z-index: 1;
  }
  .logal-section {
    position: relative;
    width: 353px;
    height: 53px;
    margin: 439px 0 0 38px;
    background: #cee3f8;
    z-index: 4;
    border-radius: 15px;
  }
  .logal-section-2 {
    position: relative;
    width: 353px;
    height: 53px;
    margin: 13px 0 0 38px;
    background: #cee3f8;
    z-index: 3;
    border-radius: 15px;
  }
  .logal-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 241.logal-66px;
    height: 22.logal-165px;
    top: 454px;
    left: 0;
    color: #35618e;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 18.logal-2px;
    text-align: center;
    white-space: nowrap;
    z-index: 6;
  }
  .logal-text-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 224px;
    height: 22px;
    top: 520px;
    left: 9px;
    color: #35618e;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 18.logal-2px;
    text-align: center;
    white-space: nowrap;
    z-index: 5;
  }
  .logal-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 353px;
    height: 53px;
    margin: 34px 0 0 456px;
    background: #007cff;
    z-index: 9;
    border-radius: 10px;
  }
  .logal-text-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 247.logal-86px;
    height: 34.logal-097px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 34.logal-097px;
    text-align: center;
    z-index: 9;
  }
  .logal-wrapper {
    position: relative;
    width: 222px;
    height: 10px;
    margin: 21px 0 0 518px;
    z-index: 12;
  }
  .logal-text-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 140px;
    height: 10px;
    top: 0;
    left: 0;
    color: #192931;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    text-align: center;
    white-space: nowrap;
    z-index: 11;
  }
  .logal-text-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 88px;
    height: 10px;
    top: 0;
    left: 134px;
    color: #192931;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 10px;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 12;
  }
  
  .logal-input{
    padding: 20px;
    border: 1px solid #CEE3F8;
    border-radius: 15px;
    background-color: #CEE3F8;
    color: #35618E;
    width: 353px;
    height: 53px;
    display: block;
    margin-bottom: 10px;
  }

  .logal-input-wrapper{
    display: block;
    width: fit-content;
    margin: 0 auto;
  }

  .logal-error{
    margin: 0 auto;
    color: red;
  }

  .logal-text-3:hover {
    cursor: pointer;
  }

  .logal-text-5:hover{
    cursor: pointer;
  }