:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .medit-main-container {
    overflow: hidden;
  }
  
  .medit-main-container,
  .medit-main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .medit-main-container {
    position: relative;
    width: 1299px;
    height: 800px;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid #000000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bigCircle{
    padding: 50px;
    position: absolute;
    width: 600px;
    height: 600px;
    border: 1px solid blue;
    border-radius: 600px;
    background: lightblue;
    margin-left: 300px;
    margin-top: -150px;
  }

  .innerCircle{
    width: 500px;
    height: 500px;
    border: 1px solid blue;
    border-radius: 400px;
    background: blue;
    box-shadow: 0 0 50px blue;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .innerText{
    font-size: 40px;
    color: white;
  }