:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .mus-main-container {
    overflow: hidden;
  }
  
  .mus-main-container,
  .mus-main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .mus-main-container {
    position: relative;
    width: 1299px;
    height: 800px;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid #000000;
    overflow: hidden;
  }
  .mus-img {
    position: absolute;
    width: 175px;
    height: 800px;
    top: -1px;
    left: -1px;
    /* background: url(.mus-.mus-/assets/images/0b460fd7-ad94-433d-a29d-3d9b7b9930c0.mus-png) */
      ;
    background-size: cover;
    z-index: 5;
  }
  .mus-box {
    position: absolute;
    width: 478px;
    height: 591px;
    top: 82px;
    left: 435px;
    background: #ececec;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.mus-25);
  }
  .mus-img-2 {
    position: relative;
    width: 410px;
    height: 398px;
    margin: 0 0 0 32px;
    /* background: url(.mus-.mus-/assets/images/e76f78a36c1707056b05c0fe21b099edd7a35303.mus-png) */
      ;
    background-size: cover;
    z-index: 3;
  }
  .mus-img-3 {
    position: relative;
    width: 311px;
    height: 90.mus-117px;
    margin: 0 0 0 81px;
    /* background: url(.mus-.mus-/assets/images/7f397ec6-cbf0-4935-9c76-19ec73dfb1de.mus-png) */
      ;
    background-size: cover;
    z-index: 4;
    border-radius: 66px;
  }
  .mus-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 281px;
    height: 23px;
    margin: 35.mus-883px 0 0 98px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    white-space: nowrap;
    z-index: 2;
  }
  